<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        List Student
    </title>
    <style th:replace="/layout :: css"></style>
</head>
<body>
<h1><a th:href="@{/student}" th:style="'text-decoration:none'">Students</a></h1>
<h2 th:class="notify" th:if="${message} != null" th:style="'color:red'">
    <span th:text="${message}"></span>
</h2>
<p>
    <a th:href="@{/student/create}">Create New Student</a>
</p>
<form id="form" th:action="@{/student/search}" method="post">
    <label>
        <input type="text" name="search" th:value="${search}">
    </label>
    <button type="submit">Search</button>
</form>
<div th:if="${students.isEmpty() == false}">
    <table id="students">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Average Point</th>
            <th>Image</th>
            <th>Province</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student,studentState : ${students}">
            <td th:text="${studentState.count}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getBirthDate()}"></td>
            <td th:text="${student.getAveragePoint()}"></td>
            <td><img th:src="@{${file} + ${student.getImageUrl()}}" alt="Error"></td>
            <td th:text="${student.getProvince().getP_name()}"></td>
            <td><a th:href="@{/student/edit/{id}(id=${student.getId()})}">Edit</a></td>
            <td><a th:href="@{/student/delete/{id}(id=${student.getId()})}"
                   onclick="return confirm('Are you sure you want to delete this student ?')">Delete</a></td>
            <td><a th:href="@{/student/view/{id}(id=${student.getId()})}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>